/* Submenú Bootstrap */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a::after {
    content: "▶";
    float: right;
    font-size: 0.75rem;
    margin-top: 4px;
}