/* ========= Submenús ========= */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

/* Flecha */

.dropdown-submenu>.dropdown-toggle::after {

    content: "\f285";

    font-family: bootstrap-icons;

    border: 0;

    float: right;

    margin-top: 3px;

}